.form-create {
    resize: none;
}

.comments-container .form-create {
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}

.comments-container button {
    background-color: #54b872;
}

.comments-container button:hover {
    color: #969dac;
}

.comments-container textarea {
    width: 100%;
    margin: 0;
}

.comments-container label {
    text-align: left;
    width: 100%;
}

.comment-container {
    border: 2px solid rgb(27, 63, 33);
    border-radius: 4px;
    margin: 15px 0;
    display: flex;
}

.comment-wrapper {
    width: 400px;
    margin: 0 auto;
}

.comment-container .author {
    width: 30%;
    font-weight: bold;
}

.comment-container .text {
    width: 70%;
    word-break: break-word;
    margin: 15px;
    text-align: left;
}

.details-container {
    margin-top: 100px;
}