.header {
    height: 60px;
    display: flex;
    justify-content: space-between;
    margin: 0 60px;
}

h3 {
    font-family: Rockwell, "Courier Bold", Courier, Georgia, Times, "Times New Roman", serif; 
    font-size: 21px;
}

.header > * {
    cursor: pointer;
}

.login-container {
    display: flex;
}

.logout {
    margin-left: 20px;
}

