a {
    text-decoration: none;
    color: inherit;
    display: inline-block;
}

.create-ticket {
    position: fixed;
    left: 5%;
    cursor: pointer;
    color: rgb(189, 63, 84);
    top: 100px;
}

.create-ticket:hover {
    color: rgb(238, 169, 169);
}

.create-ticket h2 {
    writing-mode: vertical-rl;
    text-orientation: mixed;
    transform: rotate(180deg);
    text-align: right;
    margin: 100px 20px;
}

/* .form-create {

} */

.ticket-container {
    display: flex;
    justify-content: space-between;
    border: 1px solid red;
    background: rgb(39, 221, 167);
    width: 650px;
}

.ticket-container p {
    width: 30%;
    font-size: 20px;
    color: black;
}

.title {
    display: flex;
    justify-content: space-between;
    width: 650px;
    margin: 30px 0;
}

.title span {
    width: 30%;
}

.tickets-container button {
    padding: 10px;
    font-size: 15px;
    border-radius: 4px;
    margin: 20px;
    background-color: #282c34;
    color: white;
    border: 0px;
    cursor: pointer;
}

.tickets-container button:hover {
    color: #969dac;
}

.tickets-container h2 {
    padding-right: 78px;
    margin-bottom: 100px;
}

.button {
    display: inline-block;
}